/* resetting and box sizing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body styling */
body { 
    font-family: 'Libre Baskerville' , serif;
    background-color:#f7f8fa ; /* soft lavender  */
    color:#2c1e4d; /*rich purple text*/
    line-height: 1.5;
}
/* 🎵 Header */
header h1 {
  background: linear-gradient(to right,#6a1b9a ,#8e24aa ); /* spritual purple glow */
  color: white;
  text-align: center;
  padding: 25px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* 🔗 Navigation links */
nav {
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  color: rgb(89, 121, 225);
  margin: 0 15px;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #023c5d; 
}
.contact-section h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 27px;
  color:#022840;
  font-family: monospace;
}
form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #143150;
  padding-left: 15px;
}
.fa-solid {
  margin-left: 15px;
  padding-top: 12px;
}

input[type="text"]
input[type="number"]
textarea {
  width: 100%;
  padding-left:10px ;
  margin-top: 5px;
  border: 3px solid;
  border-radius: 5px;
 
}
input[type="radio"],
input[type="checkbox"] {
  margin-right: 8px;
  padding-left: 13px;
}

input[type="range"] {
  width: 75%;
  margin-top: 5px;
}
#message {
  width:80%;
  padding-right: 10px;
}
button[type="submit"] {
  background: #0083b0;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background: #00b4db;
  cursor: pointer;
}

button i {
  margin-right: 8px;
  padding-left:15px;
}
::placeholder {
  font-family: sans-serif;
  font-style: italic;
  color: #406884;
  font-size: 12px;
  padding-left: 20px;
}
footer {
  background-color: #b1dbf5;
  text-align: end;
  padding: 12px;
  margin-top: 10px;

}
/* Mobile Responsive Media Query */
@media screen and (max-width: 600px) {
  header h1 {
    font-size: 2rem;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }

.contact-section h2 {
  font-size: 18px;
}

button[type="submit"] {
  width: 75%;
}

}

/* tablet responsive media query */
@media screen and (max-width: 1024px) {
  header h1 {
    font-size: 2.4rem;
  }

  nav a {
    display: block;
    margin: 12px 0;
  }

.contact-section h2 {
  font-size: 20px;
}

button[type="submit"] {
  width: 85%;
}

}