/* resetting and box sizing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body styling */
body { 
    font-family: 'Libre Baskerville' , serif;
    background-color:#f7f8fa ; /* soft lavender  */
    color:#2c1e4d; /*rich purple text*/
    line-height: 1.5;
}
/* 🎵 Header */
header h1 {
  background: linear-gradient(to right,#6a1b9a ,#8e24aa ); /* spritual purple glow */
  color: white;
  text-align: center;
  padding: 25px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* 🔗 Navigation links */
nav {
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  color: rgb(89, 121, 225);
  margin: 0 15px;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #023c5d; 
}
/* gallery section Title */
.gallery-section {
  text-align:center ;
  padding: 30px 10px 5px;
  margin-bottom: 10px;
}
.section-title {
  font-size: 2rem;
  color: rgb(13, 51, 53);
}
.section-title i {
  margin: 10px;
  color: rgb(230, 147, 75);
}
/* gallery grid */
.gallery-grid {
  display:grid;
  grid-template-columns: repeat(auto-fit ,minmax(280px,1fr));
  gap: 22px;
  padding: 0 22px;
  max-width:1200px;
  margin: 0 auto;
}
.gallery-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  animation: fadeinGallery 1.2s ease forwards;
}
.gallery-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}
/* fade in keyframe animation */
@keyframes fadeinGallery {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
footer {
  background-color: #b1dbf5;
  text-align: end;
  margin-top: 10px;
  padding: 12px;
}
/* Mobile Responsive Media Query */
@media screen and (max-width: 600px)  {
  header h1 {
    font-size: 2rem;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }
  .section-title {
    font-size: 1.6rem;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
  }
  /* tablet responsive media query */
}
@media screen and (max-width: 1024px) and (min-width: 601px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  header h1 {
    font-size: 2.2rem;
  }

  nav a {
    margin: 10px;
    font-size: 1rem;
  }
}